@using MyCompany.Domain.Entities
@model IQueryable<ServiceItem>
@{ 
    string strTitle = "Admin panel";
    ViewBag.Title = strTitle;
}
<div>
    <h2>@strTitle</h2>
    <div>
        <h3>Our Services</h3>
        <div class="div-log">
        <a asp-area="Admin" asp-controller="ServiceItems" asp-action="Edit" asp-route-id="">Add services</a>
        </div>
        @if (Model.Any())
        {
            <div>
             @foreach (ServiceItem entity in Model)
             {
                <div>
                    <a asp-area="Admin" asp-controller="ServiceItems" asp-action="Edit" asp-route-id="@entity.Id" > Edit </a>
                    <form style="display:inline-block;" id="form-@entity.Id" asp-area="Admin" asp-controller="ServiceItems" asp-action="Delete" method="post">
                        <input type="hidden" name="id" value="@entity.Id" />
                        <a href="#" onclick="document.getElementById('form-@entity.Id').submit();">| Delete |</a>
                    </form>
                    <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="@entity.Id">
                        @($"{entity.Title}")
                    </a>
                </div>
             }
             </div>
    }
    </div>
    <div class="div-log">
        <h3>Edit page</h3>
        <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageIndex">Main</a>
        <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageServices">Our Services</a>
        <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PagesContacts">Contacts</a>
    </div>
    <div class="div-log">
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
            <input type="submit" value="Log out" />
        </form>
    </div>
</div>